@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Mono:ital,wght@1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;

  background-color: #ccc;
}

header {
  height: 80px;

  background-color: #ffb200;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10%;

  font-family: monospace;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 1.5rem;

}

.logo img {
  width: 8%;
}
.logo h1{
  font-family: 'Roboto Mono';

}
nav a{
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: rgb(71, 65, 65);
}

main{
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerExercicio{
  width: 90%;
  height: 90%;


  background-color: rgba(247, 239, 239, 0.568);
  border-radius: 10px;
  border: 5px solid #ffb200;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;

  font-family: monospace;

}
.containerExercicio h2{
  width: 2rem;
  width: 100%;
  text-align: center;
  
}
.descricao{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.objetivo{
  width: 75%;
  font-size: 1.2rem;
  padding: 10px;
}
.objetivo ul{
  margin-left: 25px;
}

.exemplo{
  text-align: center;
}

.objetivo h3{
  text-align: center;
  font-size: 1.5rem;


}

.referencias{
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.referencias a{
  margin: 5px;
  color: #ffb200;
  text-decoration: none;
  font-size: 1rem;
}

.referencias a:hover{
  color: black;
}

button{
  height: 60px;
  width: 250px;
  border-radius: 10px;
  background-color: black;
  color: #ffb200;
  font-family: monospace;
  transition: background 0.5s;
}

button:hover{
  background-color: rgb(44, 43, 43);
}

footer{
    width: 100%;
    height: 40px;
    font-family: monospace;
    text-align: center;
    line-height: 40px;
    background-color: #ffb200;
    font-weight: bold;

}

@media screen and (max-width: 426px) {
    header {
      display: flex;
      flex-direction: column;
      height: 180px;
      justify-content: space-between;
      align-items: center;
    }
    header img {
      width: 60%;
    }

}