*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

nav{
    display: flex;
    align-items: flex-end;
    height: 40px;
    
}

.container{
    padding: 9px;
    text-align: center;
    
}

.logo{
    display: flex;
    padding: 0;
    justify-content:center;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: black;
}

a{
    text-decoration: none;
    margin-right: 20px;
    color:honeydew
}

.containerfotos{
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkgoldenrod;
}

.card{
    width: 300px;
    height: 400px;
    margin-top: 15px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: darkgoldenrod;
}

.card img{
    width: 250px;
    height: 290px;
    align-items: baseline;

}

.a:visited{
    color: beige;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    
    @media screen and (max-width:427px) {
   
        .container{
        display: flex;
        flex-direction: column;
    }
        .containerfotos{
         display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    }
    
    @media screen and (min-width:428px) and (max-width:769px) {
            .containerfotos{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .rodape{
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        color:cadetblue
        font-weight: 300;
        }

